/*!
 * Start Bootstrap - Heroic Features HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px;
  }
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */


.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

.navbar-nav {
	float: right;
}





nav{
  
  
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background-color: #337ab7 !important;
  color: #ffffff;
padding: 10px;

}

.link-3 {
  transition: 0.7s;
  color: #ffffff !important;
  font-size: 24px;
  text-decoration: none;


}

 a.link-3:hover{
  background-color: #A9A9A9	 !important;
  color: #ffffff;
  padding: 24px 10px;
}

li:active a{
	color: red !important;

}












footer {
    margin: 50px 0;
}

@media (max-width: 768px) {
  .navbar-nav-mobiles{
  	float: initial !important;
  }
 
}
@media (min-width: 992px) {
  
}
@media (min-width: 1200px) {
  
}